<template>
    <div id="widget-form" class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>Выберите опцию</small>
                <h3>Стоимость 1 <span class="js-widget-type">подписчика</span> = 90 копеек</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <button
                        class="nav-link active js-tab-rate"
                        data-toggle="tab"
                        value="followers"
                        @click="changeTypeService">
                        Подписчики
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link js-tab-rate" data-toggle="tab" value="likes" @click="changeTypeService">
                       Лайки
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link js-tab-rate" data-toggle="tab" value="views" @click="changeTypeService">
                        Просмотры
                    </button>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="images/graphic.png" alt="graphic"
                             class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0 d-none d-lg-block">
                        <div>
                            <h2 class="js-widget-title">{{titleService}} {{form.value}} ед.</h2>
                            <p class="lead"></p>
                            <form
                                class="block-content row c-loader__box"
                                data-vv-scope="block"
                                @submit.prevent="sendForm"
                                action="/payment/make"
                                method="POST">
                                <FormLoader v-show="isLoadData"/>
                                <div class="col-md-10">
                                    <InputField :labelText="labelText"
                                                name="link"
                                                v-model="form.link"
                                                :value="form.link"
                                                inputClass="col-md-12"
                                                :placeholder="placeholder"
                                                v-validate="{required: true, regex: rule}"
                                                :error="errors.first('block.link')"/>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input
                                            name="value"
                                            type="range"
                                            class="custom-range"
                                            id="customRange"
                                            min="150"
                                            max="5000"
                                            step="50"
                                            v-model="form.value"
                                            v-validate="{required: true}"
                                            value="form.value"
                                            @input="updateCost"
                                            :error="errors.first('block.link')"/>
                                    </div>
                                </div>
                                <input name="priceId" v-validate="''" :value="form.type" type="hidden"/>
                                <input type="hidden" v-validate="''" name="_token" :value="token" />

                                <div class="col-md-12 text-center">
                                    <div class="form-group">
                                        <ButtonCustom type="submit"
                                                      :isLoading="isLoading"
                                                      class="btn btn-primary btn-lg"
                                                      :text='`Накрутить ${form.value} (${cost} рублей)`'
                                                />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    //    import TabsBox from "@/js/components/TabsBox";
    import FormLoader from "@/js/components/FormLoader";
    import InputField from "@/js/components/InputField";
    import ButtonCustom from "@/js/components/ButtonCustom";

    const regex = /https:\/\/vm.tiktok.com\/[a-zA-Z0-9]+\/?/gm;

    export default {
        name: "Frontpage",
        components: {
//            TabsBox
            FormLoader,
            InputField,
            ButtonCustom
        },
        mixins: [],
        data() {
            return {
                form: {
                    link: '',
                    value: 200,
                    type: 'followers'
                },
                isLoadData: false,
                cost: 180,
                placeholder: '@username',
                labelText: 'Логин TikTok:',
                titleService: 'Накрутить подписчиков 🔔',
                rule: /^@\w+/,
                isLoading: false,
                token: window.app_data.token
            }
        },
        mounted() {
            window.form_type = 'followers'
            this.textButton = `Накрутить ${this.form.value} (${this.cost} рублей)`
        },
        methods: {
            updateCost(e) {
                this.cost = e.target.value * 0.9
            },
            changeTypeService(e) {
                this.form.type = e.target.value
                window.form_type = e.target.value

                if (this.form.type === 'followers') {
                    this.placeholder = '@username'
                    this.labelText = 'Логин TikTok:'
                    this.titleService = 'Накрутить подписчиков 🔔'
                    this.rule = /^@\w+/
                } else if (this.form.type === 'likes') {
                    this.placeholder = 'https://vm.tiktok.com/2HD3N5S/'
                    this.labelText = 'Ссылка на видео TikTok:'
                    this.titleService = 'Накрутить лайки ❤️'
                    this.rule = /https:\/\/vm.tiktok.com\/[a-zA-Z0-9]+\/?|https:\/\/www\.tiktok\.com\/@\w+\/video\/[0-9]+/
                } else if (this.form.type === 'views') {
                    this.placeholder = 'https://vm.tiktok.com/2HD3N5S/'
                    this.labelText = 'Ссылка на видео TikTok:'
                    this.titleService = 'Накрутить просмотры 👁‍'
                    this.rule = /https:\/\/vm.tiktok.com\/[a-zA-Z0-9]+\/?|https:\/\/www\.tiktok\.com\/@\w+\/video\/[0-9]+/
                }

            },
            async sendForm(e) {

                const valid =  await this.$validator.validate("block.*");
                if (!valid) {
                    return false
                }
                e.target.submit()
            },
        },
        computed: {},
    }
</script>
<style></style>
