<template>
  <button type="button"
    :disabled="disabled || isLoading"
    class="btn "
    :class="buttonClass"
    @click="$emit('click')">
    <i :class="iconClass"
      v-show="isLoading"></i>
    {{ text }}
  </button>
</template>
<script>
export default {
  name: "ButtonCustom",
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: "Сохранить"
    },
    icon: {
      type: String,
      default: ""
    },
    disabled: {
      type: Boolean,
      default: false
    },
    buttonClass: {
      type: String,
      default: "btn-alt-success"
    }
  },
  computed: {
    iconClass() {
      return this.isLoading
        ? "fa fa-circle-o-notch fa-spin mr-5"
        : `${this.icon} mr-5`;
    }
  }
};
</script>
