<template>
  <div class="c-loader">
    <div class="spinner-border text-info"
      role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>
<style lang="scss">
.c-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-loader__box {
  min-height: 100px;
  position: relative;
}
</style>
