<template>
  <div class="form-group row">
    <label class="col-12">{{labelText}} <small>{{labelTextSmall}}</small></label>
    <div :class="inputClass">
      <textarea rows="5"
        v-if="isTextArea"
        class="form-control"
        :name="name"
        :value="value"
        @input="updateValue"
        @change="updateValue"
        @blur="$emit('blur')"
        :disabled="disabled"></textarea>
      <multiselect v-else-if="isMultiselect"
        :value="value"
        :disabled="disabled"
        :class="{'read-only' : disabled}"
        :placeholder="placeholder"
        :showLabels="false"
        :multiple="multiple"
        @change="updateSelect"
        @input="updateSelect"
        :options="Object.keys(options)"
        :name="name">
        <template slot="singleLabel"
          slot-scope="props">
          {{  options[props.option] }}
        </template>
        <template slot="tag"
          slot-scope="{ option, remove }">
          <span class="multiselect__tag">
            <span>{{  options[option] }}</span>
            <i aria-hidden="true"
              tabindex="1"
              @click="remove(option)"
              class="multiselect__tag-icon"></i></span>

        </template>
        <template slot="option"
          slot-scope="props">
          {{  options[props.option] }}
        </template>
        <template slot="noOptions">
          Список пуст
        </template>
      </multiselect>
      <input :type="type"
        v-else
        class="form-control"
        :name="name"
        :value="value"
        @input="updateValue"
        @change="updateValue"
        @blur="$emit('blur')"
        :disabled="disabled"
        :placeholder="placeholder">

      <div class="form-text text-danger size-10"
        v-show="error">{{ error }}</div>
      <div class="form-text text-info size-10"
        v-show="info">{{ info }}</div>
    </div>
    <div class="col-auto"
      v-show="sendButton">
      <button class="btn"
        @click="$emit('sendField')"
        :class="sendButtonClass"
        :disabled="(!value || error) && !this.disabled">
        <i class="fa fa-circle-o-notch fa-spin mr-5"
          v-show="isLoading"></i>
        {{sendButtonText}}
      </button>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import inputWrapper from "@/js/mixins/inputWrapper";
export default {
  mixins: [inputWrapper],
  components: {
    Multiselect
  },
  props: {
    isTextArea: {
      type: Boolean,
      default: false
    },
    isMultiselect: {
      type: Boolean,
      default: false
    },
    options: Object,
    multiple: {
      type: Boolean,
      default: false
    },
    sendButton: {
      type: Boolean,
      default: false
    },
    sendButtonText: {
      type: String,
      default: "Сохранить"
    },
    sendButtonClass: {
      type: String,
      default: "btn-alt-success"
    },
    isLoading: {
      type: Boolean,
      default: false
    }
  }
};
</script>
