<template>
    <div class="block">
        <ul class="nav nav-tabs nav-tabs-block js-tabs-enabled"
            data-toggle="tabs"
            role="tablist">
            <li class="nav-item"
                v-for="tab in tabList"
                :key="tab.id"
                :class="{'isDisabled' : tab.disabled}"
                v-show="!tab.hide"
                :name="tab.id">
                <a class="nav-link"
                   @click.prevent="changeTab(tab.id)"
                   :class="{'active' : currentTab === tab.id}"
                   href="">{{tab.title}}</a>
            </li>
            <span class="mt-2 mr-10 ml-auto "
                  v-if="showButton">
        <slot name="buttons">
          <ButtonCustom :isLoading="isLoading"
                        :buttonClass="`btn btn-small ${classButton}`"
                        :text="textButton"
                        :disabled="disabledButton"
                        @click="$emit('send')"/>
        </slot>
      </span>
        </ul>
        <div class="block-content  tab-content">
            <div class="tab-pane pb-30"
                 :class="{'active' : currentTab === tab.id}"
                 role="tabpanel"
                 v-for="tab in tabList"
                 :key="tab.id">
                <slot :name="tab.id"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import ButtonCustom from "@/js/components/ButtonCustom";

    export default {
        name: "TabsBox",
        props: {
            tabList: {
                type: Array,
                required: true
            },
            showButton: {
                type: Boolean,
                default: false
            },
            disabledButton: {
                type: Boolean,
                default: false
            },
            textButton: {
                type: String,
                default: ""
            },
            currentInitTab: {
                default: null
            },
            isLoading: {
                type: Boolean,
                default: false
            },
            classButton: {
                type: String,
                default: "btn-alt-primary"
            }
        },
        components: {
            ButtonCustom
        },
        data() {
            return {
                currentTab: this.currentInitTab || this.tabList[0].id
            };
        },
        methods: {
            changeTab(id) {
                this.currentTab = id;
                localStorage.currentTab = id
                this.$emit("updateCurrentTab", id);
                if ($ && $.fn && $.fn.dataTable) {
                    const allTables = $.fn.dataTable.tables();
                    this.$nextTick(() => {
                        allTables.forEach(function (table) {
                            $(table)
                                .DataTable()
                                .columns.adjust();
                        });
                    });
                }
            }
        }
    };
</script>
